<section>
    <h2 id="about-me">About Unreal</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>Unreal战队的前身是RobotPioneer战队, 代表东莞理工学院参加DJI主办的RoboMaster大赛(2017). Unreal战队的宗旨是Make Unreal Thing Real. 2018, 期待更好的Unreal!
        </p>
    </div>
    <div class="skill-lock"></div>
</section>