<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar" />
    <div class="social-links">
        <a href="http://weibo.com/u/5291069728?topnav=1&wvr=6&topsug=1&is_hot=1">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a>
        <a href="https://ie.linkedin.com">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a>
        <a href="https://github.com/FesonX">
            <div class="glyph-icon flaticon-github"></div>
        </a>
        <a href="https://www.youtube.com">
            <div class="glyph-icon flaticon-youtube31"></div>
        </a>
    </div>
    <hr class="bar" /><a href="mailto:fesonx@foxmail.com" class="biglink">fesonx@foxmail.com</a></section>