<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experience</h2>
        <hr class="bar" />
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">青年工程师大会（广州站）线下交流会</h2>
                <P>Unreal战队前身RobotPioneer指导老师与队员们一同前往广州参加DJI青年工程师大会（广州站）线下交流会, 在现场队员们积极提问, 收获良多. </P>
                <span class="cd-date">December 14, 2016</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>东莞市万科城市广场宣传活动</h2>
                <p>我队同大疆创新东莞市长安万达4S店, 在东莞市万科城市生活广场举办活动. 广场大屏幕上连续几日播放着我队制作的宣传视频, 对外宣传, 吸引更多的社会人士关注我们的这次比赛. 现场提供试玩活动, 队员们都耐心详细地解答观众们的问题. 这次活动举办很成功, 达到很好的效果, 让更多的社会人士了解到了我们战队</p><span class="cd-date">January 24, 2017</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>参加深度学习入门: GPU加速数据集的深度学习训练——广州站</h2>
                <p>战队共22人赴中山大学参与NVIDIA深度学习学院（DLI）举办的活动:'深度学习入门: GPU加速数据集的深度学习训练'</p><span class="cd-date">March 25, 2017</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/graduate38.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>RoboMasters2017机器人对抗赛——热身赛</h2>
                <p>为获得与全国大学生交流的机会, 我队提交了RoboMasters2017机器人对抗赛——热身赛报名表, 通过实战对抗试炼已方战力` 磨合战术配合. 并于4月7日到达深圳进行热身赛.</p><span class="cd-date">April 7, 2017</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">参加东莞市第七届松山湖50KM徒步</h2>
                <P>战队的队员6:30就开始集合, 出来进行了一场长达50KM的徒步. 整个徒步有高达20000多号人参加, 场面很是壮观. 既锻炼了身体, 又宣传了队伍, 增加了团队感情~</p>
                <span class="cd-date">April 16, 2017</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>RoboMaster2017南部赛区</h2>
                <p>队伍连续修仙N天后参加RoboMaster2017南部赛区三等奖. 修仙艰难, 比赛不易, 期待Unreal战队下一年的更强表现!</p>
                <span class="cd-date">May 5, 2017</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/hosting.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>暑假奋斗ing</h2>
                <p>暑假不停歇! 队伍重构完成, 任务分配完成, 一起在暑假挑战自己! </p>
                <span class="cd-date">July 7, 2017 ~ Current</span></div>
            <!-- cd-timeline-content-->

            <!-- cd-timeline-block-->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location" /></div>
            </div>
            <!-- cd-timeline-->
        </div>
    </section>
    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>